
#translatorSelectWrapper,
#translatorSelect,
#select2-translatorSelect-container {
  float: left;
}

#limitTranslators {
  float: left;
  padding-left: 20px;
  padding-top: 2px;

  label {
    font-size: 14px;
  }
}

footer {
  padding-top: 20px;
  text-align: right;

  #okButton {
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}